/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

// UTILS
@import './utils/variables';
@import './utils/visually-hidden';

// BASE
@import './base/container';
@import './base/common';

// COMPONENTS
@import './components/buttons';
@import './components/logo';
@import './components/navigation';
@import './components/social-links';
@import './components/title-style';

// layout
@import './layout/feedback';
@import './layout/footer';
@import './layout/gallery';
@import './layout/header';
@import './layout/hero';
@import './layout/process';
@import './layout/products';
@import './layout/worktime';
@import './layout/modal-window';
