:root {
  // Background colors
  --main-backgournd: #ffb8ca;
  --secondary-background: #ffa5ba;
  --section-bacground: #fff5f6;
  --primary-button-bacgound: #d41443;
  --secondary-button-color: #ffffff;
  --mobile-button-bacground: #ecebeb;
  --sociallink-backgourn: #fea5bb;

  // Text colors
  --main-title-color: #d41443;
  --secondary-title-color: #ffa5ba;
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #907e82;

  // Text style
  --main-font: DM Sans, sans-serif;
  --header-font: Titan One, sans-serif;
}

//
:root {
  // text colors
  --main-text-color: #ffffff;
  --paragraph-color: #907e82;

  // background colors
  --accent-color: #d41443;
  --accent-color-hover: #c7133e;
  --accent-secondary-color: #ffa5ba;
  --accent-secondary-color-light: #fea5bb;
}
