:root {
  // Background colors
  --main-background: #fff5f6;
  --secondary-background: #ffb8ca;
  --tertiary-background-color:#ffffff;
  --primary-button-background: #d41443;
  --hover-primary-button-background: #c7133e;
  --secondary-button-color: #ffffff;
  --hover-button-background: #ecebeb;
  --sociallink-background: #fea5bb;
  --feedback-background: #fafafa;
  --pagination-background: #d9d9d9;

  // Text colors
  --main-title-color: #d41443;
  --secondary-title-color: #ffa5ba;
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #907e82;
  --worktime-color: #ffa5ba;

  // Text style
  --main-font-family: 'DM Sans', sans-serif;
  --header-font-family: 'Titan One', cursive;
}
