<!-- <div class="backdrop-header is-hidden" data-modal-head>
  <div class="modal-header">
    <button class="modal-header__button--close" type="button" data-modal-head-close>
      <svg class="modal-header__icon">
        <use href="./images/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-form" action="#">
      <p class="modal-form__title">Please Leave your details,we will call you back</p>
      <div class="modal-form__infoblock">
        <label class="modal-form__label" for="input-name">Имя</label>
        <span class="modal-form__wrap">
          <input
            class="modal-form__input"
            type="text"
            name="user-name"
            id="input-name"
            minlength="2"
            pattern="[a-zA-Zа-яёА-ЯЁ]+"
            title="Не должно быть цифр и символов"
            required
          />
        </span>
      </div>
      <div class="modal-form__infoblock">
        <label class="modal-form__label" for="input-tel">Телефон</label>
        <span class="modal-form__wrap">
          <input
            class="modal-form__input"
            type="tel"
            name="user-tel"
            id="input-tel"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="096-111-11-11"
            required
          />
        </span>
      </div>
      <div class="modal-form__infoblock">
        <label class="modal-form__label" for="input-email">Почта</label>
        <span class="modal-form__wrap">
          <input
            class="modal-form__input"
            type="email"
            name="user-email"
            id="input-email"
            required
          />
        </span>
      </div>
      <div class="modal-form__infoblock">
        <label class="modal-form__label" for="input-name">Комментарий</label>
        <textarea
          class="modal-form__comment"
          name="comment"
          id="textarea-comment"
          placeholder="Введите текст"
        ></textarea>
      </div>
      <button class="main-button main-button--dark" type="submit">Отправить</button>
    </form>
  </div>
</div> -->
