<section class="slider">
    <div class="container">
        <div class="slider__main">
            <div class="slider__item">
            <picture>
                <source srcset="./images/slider/client1.webp 1x, ./images/slider/client1.webp 2x" type="image/webp">
                <source srcset="./images/slider/client1.jpg 1x, ./images/slider/client1.jpg 2x" type="image/jpeg">
                <img class="slider__avatar" src="./images/slider/client1.jpg" alt="client avatar">
            </picture>
            <div class="slider__text-holder">
                <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <img class="slider__dots" src="./images/slider/three_dots.png">
            <p class="slider__address">Emily, Los Angeles</p>
        </div>
        <div class="slider__item">
            <picture>
                <source srcset="./images/slider/client2.webp 1x, ./images/slider/client2.webp 2x" type="image/webp">
                <source srcset="./images/slider/client2.jpg 1x, ./images/slider/client2.jpg 2x" type="image/jpeg">
                <img class="slider__avatar" src="./images/slider/client2.jpg" alt="client avatar">
            </picture>
            <div class="slider__text-holder">
                <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <img class="slider__dots" src="./images/slider/three_dots.png">
            <p class="slider__address">Maria, New York</p>
        </div>
        <div class="slider__item">
            <picture>
                <source srcset="./images/slider/client3.webp 1x, ./images/slider/client2.webp 3x" type="image/webp">
                <source srcset="./images/slider/client3.jpg 1x, ./images/slider/client2.jpg 3x" type="image/jpeg">
                <img class="slider__avatar" src="./images/slider/client2.jpg" alt="client avatar">
            </picture>
            <div class="slider__text-holder">
                <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <img class="slider__dots" src="./images/slider/three_dots.png">
            <p class="slider__address">Anna, Chicago</p>
        </div>
        </div>
        
    </div>
</section>