<!-- kateryna -->
<section class="gallery" id="our-products">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="grid">
            <div class="grid__item grid__item_top">
                <picture>
                    <source srcset="./images/gallery-masonry/pic1_desk.jpg 1x, ./images/gallery-masonry/pic1_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic1_tab.jpg 1x, ./images/gallery-masonry/pic1_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic1_mob.jpg 1x, ./images/gallery-masonry/pic1_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic1_mob.jpg" alt="Popsicle">
                </picture>
            </div>
            <div class="grid__item grid__item_top">
                <picture>
                    <source srcset="./images/gallery-masonry/pic2_desk.jpg 1x, ./images/gallery-masonry/pic2_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic2_tab.jpg 1x, ./images/gallery-masonry/pic2_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic2_mob.jpg 1x, ./images/gallery-masonry/pic2_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic2_mob.jpg" alt="Popsicle">
                </picture>
            </div>
            <div class="grid__item grid__item_top">
                <picture>
                    <source srcset="./images/gallery-masonry/pic3_desk.jpg 1x, ./images/gallery-masonry/pic3_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic3_tab.jpg 1x, ./images/gallery-masonry/pic3_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic3_mob.jpg 1x, ./images/gallery-masonry/pic3_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic1_mob.jpg" alt="Popsicle">
                </picture>
            </div>
            <div class="grid__item grid__item_top big">
                <picture>
                    <source srcset="./images/gallery-masonry/pic4_desk.jpg 1x, ./images/gallery-masonry/pic4_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic4_tab.jpg 1x, ./images/gallery-masonry/pic4_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic4_mob.jpg 1x, ./images/gallery-masonry/pic4_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic4_mob.jpg" alt="Popsicle">
                </picture>
            </div>
            <div class="grid__item grid__item_top">
                <picture>
                    <source srcset="./images/gallery-masonry/pic5_desk.jpg 1x, ./images/gallery-masonry/pic5_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic5_tab.jpg 1x, ./images/gallery-masonry/pic5_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic5_mob.jpg 1x, ./images/gallery-masonry/pic5_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic5_mob.jpg" alt="Popsicle">
                </picture>
            </div>
            <div class="grid__item grid__item_top">
                <picture>
                    <source srcset="./images/gallery-masonry/pic6_desk.jpg 1x, ./images/gallery-masonry/pic6_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic6_tab.jpg 1x, ./images/gallery-masonry/pic6_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic6_mob.jpg 1x, ./images/gallery-masonry/pic6_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic6_mob.jpg" alt="Popsicle">
                </picture>
            </div>
            <div class="grid__item grid__item_top">
                <picture>
                    <source srcset="./images/gallery-masonry/pic7_desk.jpg 1x, ./images/gallery-masonry/pic7_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic7_tab.jpg 1x, ./images/gallery-masonry/pic7_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic7_mob.jpg 1x, ./images/gallery-masonry/pic7_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic7_mob.jpg" alt="Popsicle">
                </picture>
            </div>
            <div class="grid__item grid__item_bottom grid__item_moved">
                <picture>
                    <source srcset="./images/gallery-masonry/pic8_desk.jpg 1x, ./images/gallery-masonry/pic8_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic8_tab.jpg 1x, ./images/gallery-masonry/pic8_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic8_mob.jpg 1x, ./images/gallery-masonry/pic8_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic8_mob.jpg" alt="Popsicle">
                </picture>
            </div>
            <div class="grid__item grid__item_bottom">
                <picture>
                    <source srcset="./images/gallery-masonry/pic9_desk.jpg 1x, ./images/gallery-masonry/pic9_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic9_tab.jpg 1x, ./images/gallery-masonry/pic9_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic9_mob.jpg 1x, ./images/gallery-masonry/pic9_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic9_mob.jpg" alt="Popsicle">
                </picture>
            </div>
            <div class="grid__item grid__item_bottom">
                <picture>
                    <source srcset="./images/gallery-masonry/pic10_desk.jpg 1x, ./images/gallery-masonry/pic10_desk@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/gallery-masonry/pic10_tab.jpg 1x, ./images/gallery-masonry/pic10_tab@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./images/gallery-masonry/pic10_mob.jpg 1x, ./images/gallery-masonry/pic10_mob@2x.jpg 2x" media="(max-width: 767px)">
                    <img class="grid__pic" src="./images/gallery-masonry/pic10_mob.jpg" alt="Popsicle">
                </picture>
            </div>            
        </div>
    </div>
</section>
<!-- kateryna -->