<div class="elements-gride">
    <img class="element-item" src="/images/gallery-masonry/pic1_mob.jpg" />
    <img class="element-item" src="/images/gallery-masonry/pic2_mob.jpg" />
    <img class="element-item" src="/images/gallery-masonry/pic3_mob.jpg" />
    <img class="element-item" src="/images/gallery-masonry/pic4_mob.jpg" />
    <img class="element-item" src="/images/gallery-masonry/pic5_mob.jpg" />
    <img class="element-item" src="/images/gallery-masonry/pic6_mob.jpg" />
    <img class="element-item" src="/images/gallery-masonry/pic7_mob.jpg" />
    <img class="element-item" src="/images/gallery-masonry/pic8_mob.jpg" />
    <img class="element-item" src="/images/gallery-masonry/pic9_mob.jpg" />
    <img class="element-item" src="/images/gallery-masonry/pic10_mob.jpg" />
</div>