<header class="header container">
  <a class="logo link header-link header__logo" href="./index.html">
    <img src="./images/header/logo.png" alt="logotype" />
  </a>
  <nav class="nav header-nav">
    <ul class="nav__list list">
      <li class="nav__item">
        <a class="nav__link link nav__link_current" href="">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link link" href="">About us</a>
      </li>
      <li class="nav__item">
        <a class="nav__link link" href="">How it’s made?</a>
      </li>
      <li class="nav__item">
        <a class="nav__link link" href="">Our products</a>
      </li>
      <li class="nav__item">
        <a class="nav__link link" href="">Contact</a>
      </li>
    </ul>
  </nav>
  <button class="burger header__burger" type="button">
    <svg class="burger__icon header__icon">
      <use href="./images/icons/sprite.svg#icon-burgher"></use>
    </svg>
  </button>
  <button class="main-button header__button" type="button">
    Buy now
    <div class="main-button__wrap">
      <svg class="main-button__icon">
        <use href="./images/icons/sprite.svg#icon-arrow-button"></use>
      </svg>
    </div>
  </button>
</header>
