<div class="header-container container">
  <a class="logo link header-link header__logo" href="./index.html">
    <img src="" alt="logotype" />
  </a>
  <nav class="nav header-nav">
    <ul class="nav__list list">
      <li class="nav__item">
        <a class="nav__link link nav__link_current" href="">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link link" href="">About us</a>
      </li>
      <li class="nav__item">
        <a class="nav__link link" href="">How it’s made?</a>
      </li>
      <li class="nav__item">
        <a class="nav__link link" href="">Our products</a>
      </li>
      <li class="nav__item">
        <a class="nav__link link" href="">Contact</a>
      </li>
    </ul>
  </nav>
  <button class="burger" type="button">
    <svg class="burger__wrap">
      <use class="burger__icon" src="../images/icons/sprite.svg#"></use>
    </svg>
  </button>
  <button class="button" type="button">
    Buy now
    <svg class="button__wrap">
      <use class="button__icon" src="../images/icons/sprite.svg#"></use>
    </svg>
  </button>
</div>
