<a class="logo link header-link header__logo" href="./index.html">
  <img src="../images/header/logo.png" alt="" />
</a>
<nav class="nav header-nav">
  <ul class="nav__list list">
    <li class="nav__item">
      <a class="nav__link link nav__link_current" href="">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link link" href="">About us</a>
    </li>
    <li class="nav__item">
      <a class="nav__link link" href="#contact-list">How it’s made?</a>
    </li>
    <li class="nav__item">
      <a class="nav__link link" href="#contact-list">Our products</a>
    </li>
    <li class="nav__item">
      <a class="nav__link link" href="#contact-list">Contact</a>
    </li>
  </ul>
</nav>
<button class="burger" type="button">
  <svg class="button__img">
    <use class="button__icon" src="../images/icons/sprite.svg#"></use>
  </svg>
</button>
<button class="button" type="button">
  Buy now
  <svg class="button__img">
    <use class="button__icon" src="../images/icons/sprite.svg#"></use>
  </svg>
</button>
