<section class="hero">
  <div class="container">
    <div class="placing">
      <div class="hero-left-side">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--accent">passion</span>
        </h1>
        <ul class="hero-anchors__list list">
          <li class="hero-anchors__item">
            <a class="hero-anchors__link link" href="">Products </a>
          </li>
          <li class="hero-anchors__item">
            <a class="hero-anchors__link hero-anchors__link--light link" href="">How it’s made? </a>
          </li>
        </ul>
        <div class="hero-meta">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <svg class="hero__wrap">
            <use class="hero__icon" href="./images/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
      <div class="hero-right-side">
        <ul class="hero__list list">
          <li class="hero__item"><span class="hero__count">16</span>cafes</li>
          <li class="hero__item"><span class="hero__count">23</span>food trucks</li>
        </ul>
      </div>
      <img class="hero__img1" src="./images/hero/desktop/milk-desk@1x.png" alt="" />
      <img class="hero__img2" src="./images/hero/desktop/ice-cream-desk@1x.png" alt="" />
      <img class="hero__img3" src="./images/hero/desktop/tasty-desk@1x.png" alt="" />
      <img class="hero__img4" src="./images/hero//desktop/Ellipse-hero-desk.png" alt="" />
    </div>
  </div>
</section>
