<div class="mobile-menu" data-menu>
  <div class="mobile-menu__container">
    <button type="button" class="close-menu-button" data-menu-close>
      <svg class="close-menu-icon">
        <use href="./images/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <button class="main-button menu-button" type="button" data-modal-head-open>
      Buy now
      <span class="main-button__wrap">
        <svg class="main-button__icon menu-button-icon">
          <use href="./images/icons/sprite.svg#icon-arrow-button"></use>
        </svg>
      </span>
    </button>
    <nav>
      <ul class="menu__list list">
        <li class="menu__item">
          <a href="#hero" class="link menu__link menu__link--current">Home</a>
        </li>
        <li class="menu__item"><a href="#about-us" class="link menu__link">About us</a></li>
        <li class="menu__item">
          <a href="#how-its-made" class="link menu__link">How it’s made?</a>
        </li>
        <li class="menu__item">
          <a href="#our-products" class="link menu__link">Our products</a>
        </li>
        <li class="menu__item"><a href="#contact" class="link menu__link">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
