<section class="process-section">
    <div class="container">
        <p class="top-header">tradition and love</p>
        <h2 class="title">how it’s made?</h2>
        <div class="description-container">
            <img src="/images/process/img-process-section.png" alt="img_cow" width="516px" height="516px"
                class="img-cow">
            <ul class="description-list list">
                <li class="description-item1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus lorem eget, egestas eros.Maecenas eleifend erat at justo fringilla.</li>
                <li class="description-item2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris rhoncus orci in imperdiet placerat.Vestibulum euismod nisl suscipit ligula volutpat,
                    a feugiat urna maximus. Cras massa nibh, tincidunt.</li>
                <li class="description-item3">Aliquam erat volutpat. Aenean accumsan.</li>
            </ul>
            <!-- <button class="button-process-section" type="button">Read more
                <svg class="button-icon" height="8" width="4">
                <use href="../images/icons/sprite.svg"></use>
                </svg> -->
            </button>
        </div>

        <ul class="definitions-list list">
            <li class="definitions-containers">
                <img src="/images/process/icon1-process-section.png" alt="icon1" width="33" height="30"
                    class="img-icon">
                <h2 class="definitions">721</h2>
                <p class="text-of-definitions">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="definitions-containers">
                <img src="/images/process/icon2-process-section.png" alt="icon2" width="50" height="50"
                    class="img-icon">
                <h2 class="definitions">16kg</h2>
                <p class="text-of-definitions">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="definitions-containers">
                <img src="/images/process/icon3-process-section.png" alt="icon3" width="45" height="50"
                    class="img-icon">
                <h2 class="definitions">84</h2>
                <p class="text-of-definitions">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>