<div class="section">
    <div class="container container--pudding">
        <p class="top-header">100% natural</p>
        <h2 class="title">products</h2>
        <ul class="products__list list">
            <li>
                <img class="product__img" src="./images/products/icecream-mob-1-1x.png" alt="">
                <h3 class="product__title">ice cream</h3>
                <p class="product__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et. dolore magna
                    aliqua facilisis.
                </p>
                <div class="button-round"></div>
            </li>
            <li>
                <img src="./images/products/icecream-mob-2-1x.png" alt="">
                <h3 class="product__title">ice cream</h3>
                <p class="product__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et. dolore magna
                    aliqua facilisis.
                </p>
                <div class="button-round"></div>
            </li>
            <li>
                <img src="./images/products/icecream-mob-3-1x.png" alt="">
                <h3 class="product__title">ice cream</h3>
                <p class="product__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et. dolore magna
                    aliqua facilisis.
                </p>
                <div class="button-round"></div>
            </li>
        </ul>
    </div>

</div>