<section class="worktime">
    <div class="worktime__conteiner container">
        <h2 class="visually-hidden">worktime contacts</h2>
        <div class="worktime__company chicago">
            <div class="worktime__head-title">
                <p class="worktime__head cofe">cofe</p>
            </div>
            <ul class="worktime__list list">
                <li class="worktime__item">
                    <ul class="worktime__city list">
                        <li>
                            <b>Chicago</b>
                        </li>
                        <li>
                            <p class="worktime__paragraph">
                                Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__schedule list">
                        <li class="worktime__days">
                            <b>Monday - Friday</b>
                            <p class="worktime__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="worktime__days">
                            <b>Saturday - Sunday</b>
                            <p class="worktime__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__contact list">
                        <li class="worktime__link">
                            <a href="tel:+61(0)383766284" class="worktime__tel link">+61(0) 383 766 284</a>
                        </li>
                        <li class="worktime__link">
                            <a href="mailto:noreply@envato.com" class="worktime__mail link">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="worktime__company losangeles">
            <div class="worktime__head-title foodtruck">
                <p class="worktime__head foodtruck">foodtruck</p>
            </div>
            <ul class="worktime__list list">
                <li class="worktime__item">
                    <ul class="worktime__city list">
                        <li>
                            <b>Los Angeles</b>
                        </li>
                        <li>
                            <p class="worktime__paragraph">
                                Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__schedule list">
                        <li class="worktime__days">
                            <b>Monday - Friday</b>
                            <p class="worktime__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="worktime__days">
                            <b>Saturday - Sunday</b>
                            <p class="worktime__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__contact list">
                        <li class="worktime__link">
                            <a href="tel:+61(0)383766284" class="worktime__tel link">+61(0) 383 766 284</a>
                        </li>
                        <li class="worktime__link">
                            <a href="mailto:noreply@envato.com" class="worktime__mail link">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="worktime__company newyourk">
            <div class="worktime__head-title">
                <p class="worktime__head cofe">cofe</p>
            </div>
            <ul class="worktime__list list">
                <li class="worktime__item">
                    <ul class="worktime__city list">
                        <li>
                            <b>Chicago</b>
                        </li>
                        <li>
                            <p class="worktime__paragraph">
                                Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__schedule list">
                        <li class="worktime__days">
                            <b>Monday - Friday</b>
                            <p class="worktime__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="worktime__days">
                            <b>Saturday - Sunday</b>
                            <p class="worktime__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__contact list">
                        <li class="worktime__link">
                            <a href="tel:+61(0)383766284" class="worktime__tel link">+61(0) 383 766 284</a>
                        </li>
                        <li class="worktime__link">
                            <a href="mailto:noreply@envato.com" class="worktime__mail link">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="worktime__buttons">
        <button type="button" class="main-button main-button--dark">Our Locations
            <div class="main-button__wrap">
                <svg class="main-button__icon white-arrow" width="10" height="10">
                    <use href="./images/icons/sprite.svg#icon-arrow-button"></use>
                </svg>
            </div>
        </button>
        <button type="button" class="main-button">Franchise
            <div class="main-button__wrap"></div>
                <svg class="main-button__icon" width="10" height="10">
                    <use href="./images/icons/sprite.svg#icon-arrow-button"></use>
                </svg>
            </div>
        </button>
    </div>

</section>