<section class="section__worktime">
    <div class="worktime__conteiner container">
        <div class="worktime__company chicago">
            <p class="worktime__head cofe">cofe</p>
            <ul class="worktime__list list">
                <li class="worktime__item">
                    <ul class="worktime__city list">
                        <li>
                            <b>Chicago</b>
                        </li>
                        <li>
                            <p class="worktime__paragraph">
                                Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__schedule list">
                        <li class="worktime__days">
                            <b>Monday - Friday</b>
                            <p class="worktime__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="worktime__days">
                            <b>Saturday - Sunday</b>
                            <p class="worktime__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__contact list">
                        <li class="worktime__link">
                            <a href="tel:+61(0)383766284" class="worktime__tel">+61(0) 383 766 284</a>
                        </li>
                        <li class="worktime__link">
                            <a href="mailto:noreply@envato.com" class="worktime__mail">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="worktime__company losangeles">
            <p class="worktime__head foodtruck">foodtruck</p>
            <ul class="worktime__list list">
                <li class="worktime__item">
                    <ul class="worktime__city list">
                        <li>
                            <b>Los Angeles</b>
                        </li>
                        <li>
                            <p class="worktime__paragraph">
                                Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__schedule list">
                        <li class="worktime__days">
                            <b>Monday - Friday</b>
                            <p class="worktime__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="worktime__days">
                            <b>Saturday - Sunday</b>
                            <p class="worktime__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__contact list">
                        <li class="worktime__link">
                            <a href="tel:+61(0)383766284" class="worktime__tel">+61(0) 383 766 284</a>
                        </li>
                        <li class="worktime__link">
                            <a href="mailto:noreply@envato.com" class="worktime__mail">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="worktime__company newyourk">
            <p class="worktime__head cofe">cofe</p>
            <ul class="worktime__list list">
                <li class="worktime__item">
                    <ul class="worktime__city list">
                        <li>
                            <b>Chicago</b>
                        </li>
                        <li>
                            <p class="worktime__paragraph">
                                Fusce ut velit laoreet, tempus arcu molestie vulputate
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__schedule list">
                        <li class="worktime__days">
                            <b>Monday - Friday</b>
                            <p class="worktime__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="worktime__days">
                            <b>Saturday - Sunday</b>
                            <p class="worktime__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="worktime__item">
                    <ul class="worktime__contact list">
                        <li class="worktime__link">
                            <a href="tel:+61(0)383766284" class="worktime__tel">+61(0) 383 766 284</a>
                        </li>
                        <li class="worktime__link">
                            <a href="mailto:noreply@envato.com" class="worktime__mail">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="worktimr__buttons">
        <button type="button" class="worktime__first-button">Our Locations</button>
        <button type="button" class="worktime__second-button">Our Locations</button>
    </div>

</section>