button {
  cursor: pointer;
}
.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  border-radius: 22px;
  color: var(--main-title-color);
  background-color: var(--secondary-button-color);
  border: transparent;
  &:hover,
  &:focus {
    background-color: var(--hover-button-background);
  }
}
.main-button--dark {
  color: var(--secondary-text-color);
  background-color: var(--primary-button-background);
  &:hover,
  &:focus {
    background-color: var(--hover-primary-button-background);
  }
}

.main-button__wrap {
  display: flex;
  align-items: center;
  height: 10px;
  width: 10px;
  margin-left: 13px;
}
.main-button__icon {
  height: 10px;
  width: 7px;
  fill: var(--main-title-color);
  &.white-arrow {
    fill: #ffffff;
  }
}

.burger {
  display: none;
  @media screen and (max-width: 1280px) {
    background-color: transparent;
    border: transparent;
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
  }
}

.burger__icon {
  height: 12px;
  width: 20px;
  fill: var(--main-title-color);
}

.secondary-button {
  display: block;
  height: 40px;
  padding: 10px 24px;
  background-color: var(--primary-button-background);
  border-radius: 20px;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--secondary-text-color);
}
.secondary-button--light {
  background-color: var(--secondary-button-color);
  color: var(--main-title-color);
}

.description-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--secondary-button-color);
}
.description-button__icon {
  width: 10px;
  height: 10px;
  fill: var(--main-title-color);
}
