.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  height: 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  border-radius: 22px;
  color: var(--main-title-color);
  background-color: var(--secondary-button-color);
  border: transparent;
}
.button__wrap {
  display: flex;
  align-items: center;
  height: 10px;
  width: 10px;
  margin-left: 13px;
}
.button__icon {
  height: 10px;
  width: 7px;
}
