.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 24px;
  border-radius: 20px;
  font-size: 14px;
  line-height: calc(18 / 14);
  transition: background-color var(--transition-duration);
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);

}

.primary-button {
  background-color: var(--primary-button-background);
  color: var(--secondary-text-color);

  &:hover,
  &:focus {
    background-color: var(--hover-primary-button-background);
  }
}

.secondary-button {
  background-color: var(--secondary-button-color);
  color: var(--main-title-color);

  &:hover,
  &:focus {
    background-color: var(--hover-button-background);
  }
}
.btn-big {
padding: 10px 35px;
}

.location-button {
  width: 205px;
  @media screen and (max-width: 768px) {
    &:first-child {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    &:first-child {
      margin-right:15px;
    }
  }
}
.button-modal {
  margin-left: auto;
  margin-right: auto;
}

.main-button__wrap {
  display: flex;
  align-items: center;
  height: 10px;
  width: 10px;
  margin-left: 13px;
}
.main-button__icon {
  height: 10px;
  width: 7px;
  fill: var(--main-title-color);
  &.white-arrow {
    fill: #ffffff;
  }
}

.burger {
  display: none;
  @media screen and (max-width: 1280px) {
    background-color: transparent;
    border: transparent;
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
  }
}

.burger__icon {
  height: 12px;
  width: 20px;
  fill: var(--main-title-color);
}


.description-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--secondary-button-color);
}
.description-button__icon {
  width: 10px;
  height: 10px;
  fill: var(--main-title-color);
}
