.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 95vw;
  max-width: 450px;
  height: 95vh;
  max-height: 610px;
  overflow: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-background);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 582px;
  }
}
.modal-header__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.modal-header__icon {
  width: 11px;
  height: 11px;
  fill: var(--logo);
  transition: fill var(--transition-duration) var(--cubic);
  .modal__button:hover & {
    fill: var(--accent-color);
  }
}
.modal-form {
  padding: 30px 15px 15px;
  @media screen and (min-width: 480px) {
    padding: 40px;
  }
}

.modal-form__title {
  width: 100%;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  color: var(--primary-title-color);
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form__infoblock {
  display: block;
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__wrap {
  position: relative;
  display: block;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 10px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--cubic);
  // width: 448px;
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primary-title-color);
  transition: fill var(--transition-duration) var(--cubic);
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__comment {
  resize: none;
  padding: 12px 16px;
  // width: 448px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--cubic);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__policy {
  display: block;
  position: relative;
  margin: 20px auto 30px;
  @media screen and (min-width: 1200px) {
    margin-left: 10px;
    // margin-left: auto;
    // margin-right: auto;
  }
}

.modal-form__policy-checkbox {
  display: block;
  margin-left: 0;
  top: 50%;
  left: 7px;
  transform: translateY(50%);
}

.modal-form__policy-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 2px;
  .modal-form__policy-checkbox:checked + & {
    border: 1px solid transparent;
    fill: var(--secondary-title-color);
    background-color: var(--accent-color);
  }
}

.modal-form__policy-icon {
  fill: var(--secondary-title-color);
}

.modal-form__policy-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__policy-link {
  color: var(--accent-color);
}
