.nav__list {
  display: flex;
  justify-content: center;
}
.nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}
.nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  color: var(--secondary-text-color);
}
.nav__link_current {
  color: var(--main-title-color);
}
.nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
