.hero {
  // max-width: 1600px;
  padding-top: 192px;
  padding-bottom: 160px;
  background-color: var(--secondary-background);
  overflow: hidden;
  // background-clip: border-box;
  // background-repeat: no-repeat;
  // background-size: 346px 344px;
  // background-position: -110% 52%;
  // background-image: url(../images/hero/tablet/Ellipse-hero-tab@1x.png);

  // @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  //   screen and (min-resolution: 192dpi) and (max-width: 767px),
  //   screen and (min-resolution: 2dppx) and (max-width: 767px) {
  //   background-image: url(../images/hero/tablet/Ellipse-hero-tab@2x.png);
  // }
  @media screen and (min-width: 768px) {
    padding-top: 96px;
    padding-bottom: 34px;
    //   background-size: 324px 322px;
    //   background-position: 59% 42%;
    //   background-image: url(../images/hero/tablet/Ellipse-hero-tab@1x.png);
  }
  // @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  //   screen and (min-resolution: 192dpi) and (min-width: 768px),
  //   screen and (min-resolution: 2dppx) and (min-width: 768px) {
  //   background-image: url(../images/hero/tablet/Ellipse-hero-tab@2x.png);
  // }

  @media screen and (min-width: 1280px) {
    padding-top: 160px;
    padding-bottom: 56px;
    //   background-size: 538px 538px;
    //   background-position: 62% 40%;
    //   background-image: url(../images/hero/desktop/Ellipse-hero-desk@1x.png);
  }
  // @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  //   screen and (min-resolution: 192dpi) and (min-width: 1200px),
  //   screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  //   background-image: url(../images/hero/desktop/Ellipse-hero-desk@2x.png);
  // }
}
// .hero-container {
//   width: 100%;
//   background-size: 538px 538px;
//   background-repeat: no-repeat;
//   background-position: 62% 40%;
//   background-image: url(../images/hero/tablet/Ellipse-hero-tab@1x.png);

//   @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
//     screen and (min-resolution: 192dpi) and (max-width: 767px),
//     screen and (min-resolution: 2dppx) and (max-width: 767px) {
//     background-image: url(../images/hero/tablet/Ellipse-hero-tab@2x.png);
//   }
//   @media screen and (min-width: 768px) {
//     background-image: url(../images/hero/tablet/Ellipse-hero-tab@1x.png);
//   }
//   @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
//     screen and (min-resolution: 192dpi) and (min-width: 768px),
//     screen and (min-resolution: 2dppx) and (min-width: 768px) {
//     background-image: url(../images/hero/tablet/Ellipse-hero-tab@2x.png);
//   }

//   @media screen and (min-width: 1200px) {
//     background-image: url(../images/hero/desktop/Ellipse-hero-desk@1x.png);
//   }
//   @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
//     screen and (min-resolution: 192dpi) and (min-width: 1200px),
//     screen and (min-resolution: 2dppx) and (min-width: 1200px) {
//     background-image: url(../images/hero/desktop/Ellipse-hero-desk@2x.png);
//   }
// }

.placing {
  position: relative;
  // z-index: 30;
  display: flex;
  align-items: flex-start;
}
.hero-left-side {
  @media screen and (max-width: 767px) {
    position: relative;
    z-index: 5;
  }
  @media screen and (min-width: 768px) {
    padding-top: 6px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 10px;
  }
}
.hero__title {
  margin-bottom: 25px;
  width: 218px;
  font-family: var(--header-font-family);
  font-size: 26px;
  line-height: calc(30 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    width: 162px;
    font-size: 22px;
    line-height: calc(25 / 22);
  }
  @media screen and (min-width: 1280px) {
    width: 280px;
    font-size: 38px;
    line-height: calc(44 / 38);
  }
}
.hero__title--accent {
  color: var(--main-title-color);
  font-size: 48px;
  line-height: calc(46 / 48);
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(31 / 34);
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: calc(52 / 58);
  }
}
.hero-anchors__list {
  display: flex;
  @media screen and (min-width: 768px) {
    margin-bottom: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 112px;
  }
}
.hero-anchors__item {
  &:not(:last-child) {
    margin-right: 8px;
    @media screen and (min-width: 768px) {
      margin-right: 8px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 15px;
    }
  }
}
.hero-anchors__btn {
  @media screen and (max-width: 1279px) {
    padding: 5px 15px;
    height: 24px;
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10 / 8);
  }
}
.hero-meta {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 120px;
    width: 114px;
    font-size: 8px;
    line-height: 1.5;
    color: var(--secondary-text-color);
  }
  @media screen and (min-width: 1280px) {
    margin-left: 210px;
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
  }
}
.hero__text {
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}
.hero__descr-btn {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 18px;
    width: 18px;
  }
}

.hero-right-side {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
.hero__item {
  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 1;
    font-size: 8px;
    line-height: calc(10 / 8);
    text-align: right;
    color: var(--secondary-text-color);
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
  &:not(:last-child) {
    margin-bottom: 14px;
    @media screen and (min-width: 1280px) {
      margin-bottom: 18px;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -3px;
    right: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    @media screen and (min-width: 1280px) {
      top: -6px;
      right: -14px;
      width: 30px;
      height: 30px;
    }
  }
}
.hero__count {
  display: block;
  font-family: var(--header-font-family);
  font-size: 28px;
  line-height: calc(32 / 28);
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-title-color);
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: calc(53 / 46);
  }
}
.hero__img1 {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    animation-name: shaking;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    width: 124px;
    height: 126px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
  }
  @media screen and (min-width: 1280px) {
    animation-name: shaking;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 188px;
    height: 192px;
  }
}
.hero__img3 {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: 10;
    bottom: -34px;
    right: 0%;
    width: 168px;
    height: 134px;
  }
  @media screen and (min-width: 1280px) {
    bottom: -56px;
    right: 0%;
    width: 294px;
    height: 232px;
  }
}
// .hero__img4 {
//   position: absolute;
//   z-index: 2;
//   // bottom: 0px;
//   // right: -5%;
//   width: 346px;
//   height: 344px;
//   @media screen and (max-width: 767px) {
//     width: 346px;
//     height: 344px;
//     // bottom: 12px;
//     bottom: -82px;
//     // right: 0px;
//     left: 44px;
//     // right: 122px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 324px;
//     height: 322px;
//     bottom: 12px;
//     right: 98px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 538px;
//     height: 538px;
//     bottom: 20px;
//     right: 152px;
//   }
// }
.hero__img2 {
  // position: absolute;
  // z-index: 4;
  // bottom: -160px;
  // right: 18px;
  // width: 170px;
  width: 100%;
  height: 100%;

  height: 410px;
  @media screen and (min-width: 768px) {
    // width: 144px;
    // height: 336px;
    // bottom: -34px;
    // right: 216px;
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 1280px) {
    // width: 236px;
    // height: 538px;
    // bottom: -56px;
    // right: 336px;
    width: 100%;
    height: 100%;
  }
}
.hero-img-wrap {
  position: absolute;
  z-index: 4;
  bottom: -160px;
  right: 18px;
  width: 170px;
  height: 410px;

  @media screen and (min-width: 768px) {
    width: 144px;
    height: 336px;
    bottom: -34px;
    right: 216px;
  }
  @media screen and (min-width: 1280px) {
    width: 236px;
    height: 538px;
    bottom: -56px;
    right: 336px;
  }
}
.hero-img-wrap::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -4%;
  right: -52%;
  width: 346px;
  height: 346px;
  border-radius: 50%;
  background-color: #ffa5ba;
  @media screen and (min-width: 768px) {
    top: -12%;
    right: -74%;
    width: 324px;
    height: 324px;
  }
  @media screen and (min-width: 1280px) {
    top: -15%;
    right: -76%;
    width: 538px;
    height: 538px;
  }
}
@keyframes scaling {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.9;
  }

  100% {
    scale: 0.8;
  }
}
@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}
