/* MODAL WINDOW CSS  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 480px;
  background-color: #fff;
  padding: 40px;
  background-color: #ffe1e8;
  border-radius: 10px;
  border: 4px solid #fff;

  @media screen and (min-width: 768px) {
    width: 400px;
    height: 500px;
  }

  @media screen and (min-width: 1200px) {
    width: 500px;
    height: 500px;
    left: 70%;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;

  transition-property: fill;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-icon {
  fill: #000000;
  font-weight: bolder;
}

.modal-text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 162%;
  letter-spacing: 0.04em;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 176%;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 176%;
  }
}

.milk-box {
  margin: 0 auto;
  width: 50px;
  height: 50px;

  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;
  }
  @media screen and (min-width: 1280px) {
    width: 70px;
    height: 70px;
  }
}
