.process-section {
  background-color: var(--main-background);
  background-image: url('../images/process/bg-milk-process-section.png');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100%;
  background-position: 0 40%;
  padding-top: 125px;
  padding-bottom: 310px;
}

.margin-title {
  margin-top: 15px;
}

.description-container {
  padding-top: 102px;
  font-family: var(--main-font-family);
  display: flex;
  padding-bottom: 40px;
}

.img-cow {
  padding-right: 74px;
}

.description-list__item1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  margin-bottom: 35px;
  max-width: 463px;
}

.description-list__item2,
.description-list__item3 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 194%;
  letter-spacing: 0.04em;
  color: var(--paragraph-text-color);
  max-width: 463px;
}

.description-list__item3 {
  margin-top: 15px;
}

.listtt {
  display: block;
}

.button-process-section {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--main-title-color);
  background: #ffffff;
  border-radius: 22px;
  border: none;
  padding: 10px 37px;
  margin-top: 47px;
}

.definitions-list {
  display: flex;
}

.definitions-list__containers {
  max-width: 300px;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.definitions-img {
  margin-bottom: 40px;
}

.definitions-subtitle {
  font-family: var(--header-font-family);
  font-weight: normal;
  font-size: 58px;
  line-height: 66px;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 15px;
}

.definitions-text {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* --------------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 69%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 100%;
  background-color: #fff;
  padding: 40px;
  background-color: #ffe1e8;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 460px;
    height: 460px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  /* background-color: transparent; */
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  display: flex;

  transition-property: fill;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-icon {
  fill: #000000;
}

.modal-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: center;
}
