/* PROCES CSS */

.process-section {
  background-image: url('../images/process/bg-milk-process-section.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  background-color: var(--main-background);
  padding-top: 125px;
  padding-bottom: 97px;

  @media screen and (min-width: 768px) {
    background-image: none;
    padding-top: 130px;
    padding-bottom: 140px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/process/bg-milk-process-section.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 60%;
    padding-top: 125px;
    padding-bottom: 139px;
  }
}

.process-top-header {
  font-family: var(--header-font-family);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--worktime-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
  }
}

.process-title {
  font-family: var(--header-font-family);
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-top: 15px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
  }
}

.description-container {
  margin-top: 26px;
  font-family: var(--main-font-family);
  display: block;
  margin-bottom: 40px;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 100px;
    display: flex;
    margin-bottom: 66px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.img-cow {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;

  @media screen and (min-width: 768px) {
    margin-right: 17px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 74px;
  }
}

.description-list__item1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  margin: 0 auto;
  margin-bottom: 47px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 49px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.description-list__item2,
.description-list__item3 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 194%;
  letter-spacing: 0.04em;
  color: var(--paragraph-text-color);
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}

.description-list__item3 {
  margin-top: 15px;
}

.list-container {
  display: block;
  max-width: 220px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    max-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 463px;
  }
}

.button-icon {
  fill: var(--main-title-color);
  margin-left: 13px;
}

.btn-margin {
  margin-top: 17px;

  @media screen and (min-width: 768px) {
    margin-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 45px;
  }
}

.definitions-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.definitions-list__containers {
  &:not(:last-child) {
    margin-bottom: 38px;
  }
  max-width: 220px;

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 60px;
      margin-bottom: 0;
    }
    max-width: 180px;
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
    max-width: 330px;
    display: block;
  }
}

.definitions-img {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.definitions-subtitle {
  font-family: var(--header-font-family);
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-title-color);
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
  }
}

.definitions-text {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 12px;
  line-height: 170%;

  letter-spacing: 0.02em;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 174%;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 176%;
  }
}
