.section__worktime {
  margin-top: 86px;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;
  background-image: linear-gradient(to top, var(--main-background) 93%, #ffffff 7%);
}

.worktime__conteiner {
  //   margin: 20px auto;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.worktime__item:not(:last-child) {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.worktime__head {
  background-color: #f0d1a5;
  color: #ffffff;
  width: 80px;
  padding: 0 23px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 25px;
  &.foodtruck {
    background-color: #c2e297;
    width: 120px;
  }
}

.worktime__company {
  margin: 20px auto;

  padding: 43px 20px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px #d414431a;
  max-width: 330px;
  @media screen and (max-width: 1279px) {
    max-width: 220px;
  }
}

.worktime__paragraph {
  color: var(--paragraph-text-color);
  font-size: 1.4;
}

.worktime__hours {
  color: var(--worktime-color);
}

.worktime__tel,
.worktime__mail {
  color: #907e82;
  font-size: 1.4;
}

.worktimr__buttons {
  display: flex;
  justify-content: center;
}
