.worktime {
  margin-top: 86px;
  padding-bottom: 80px;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;
  background-image: linear-gradient(to top, var(--main-background) 95%, #ffffff 5%);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
    background-image: linear-gradient(to top, var(--main-background) 90%, #ffffff 10%);
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.8;
    background-image: url(../images/worktime/decoration.png),
      linear-gradient(to top, var(--main-background) 85%, #ffffff 15%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 25%;
  }
}

.worktime__conteiner {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.worktime__item:not(:last-child) {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
.worktime__head-title {
  background-color: #f0d1a5;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;
  &.foodtruck {
    width: 130px;
    background-color: #c2e297;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}
.worktime__head {
  color: #ffffff;
  text-transform: uppercase;
}

.worktime__company {
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px #d414431a;
  max-width: 330px;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 1279px) {
    max-width: 220px;
  }
  @media screen and (min-width: 768px) {
    padding: 50px 30px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding: 50px 40px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.worktime__paragraph {
  color: var(--paragraph-text-color);
  font-size: 1.4;
}

.worktime__city li:not(:last-child),
.worktime__days:not(:last-child) {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.worktime__hours {
  color: var(--worktime-color);
}

.worktime__tel,
.worktime__mail {
  color: #907e82;
  font-size: 1.4;
}

.worktime__buttons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    .main-button--dark {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    .main-button--dark {
      margin-right: 15px;
    }
  }
}
